.ArticleItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
  margin-bottom: 1rem;
}

.ArticleItem:not(:last-child) {
  border-bottom: 2px solid #f5f6f7;
}

.ArticleItem div > h1 {
  color: #1aab8a;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
}

.ArticleItem div > p {
  margin-top: 1rem;
  padding-right: 1.5rem;
  text-align: justify;
  color: #444;
  line-height: 1.5rem;
}

.ArticleItem > button {
  background: #d34b4b;
}

.ArticleItem > button:hover {
  background: transparent;
  color: #d34b4b;
}

.ArticleItem > button:before,
.ArticleItem > button:after {
  background: #d34b4b;
}
