.postItem {
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.postItem > h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  color: #0784d2;
}
